/* Box Model Hack */
* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  text-decoration: none;
}

body{
  box-sizing: border-box;
}

.clear {
	clear: both;
}

.flo-left{
  float: left;
}
/******************************************
/* BASE STYLES
/*******************************************/

nav{

  background: black;
  height: 5vh;
  width: 100%;
  color: white;
}

.logo-img{
  padding-top: 5px ;
}

nav .links{
   display: inline-block;
   padding: 8px ;
  
 }

nav li{
  border-left: 1px solid white;
}

nav a{
   color: white;
 }

.signin{

  
}



 .searchbar{
   float: right;
   /* padding:8px; */
 }

 .searchbar input{
   height: 30px;
   border: none;
  
 }

 input::placeholder
 {
   color: black;
   font-weight: 600;
 }



/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
