/* Box Model Hack */
* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  text-decoration: none;
}

body{
  box-sizing: border-box;
}

.clear {
	clear: both;
}

.flo-left{
  float: left;
}
/******************************************
/* BASE STYLES
/*******************************************/

nav{

  background: black;
  height: 5vh;
  width: 100%;
  color: white;
}

.logo-img{
  padding-top: 5px ;
  border-right:solid white;
}

.nav-links{
  border-right: 1px solid white;
}

nav .links{
   display: inline-block;
   padding: 8px ;
  
 }

nav li{
  border-left: 1px solid white;
}

nav a{
   color: white;
 }

.signin{
  padding: 10px;

}



 .searchbar{
   float: right;
   padding-top:8px;
   margin-right:10px;
 }

 .searchbar input{
   height: 30px;
   border: none;
   
  
 }

 input::placeholder
 {
   color: black;
   font-weight: 600;
 }



/******************************************
/* top page
/*******************************************/

.top-page{
height: 40vh;
}

.big-article{
  background-image: url("../src/isreal-uae.jpg");
  height: 100%;
   float: left;
   background-size: 500px 600px;
}








/******************************************
/* ADDITIONAL STYLES
/*******************************************/
